// Variables
:root {
    --Cyan: hsl(179, 62%, 43%);
    --Light-Cyan: hsl(179, 47%, 52%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Bright-Yellow: hsl(71, 73%, 62%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --border-radius: 6px;
  }
  
  // Base styles
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  // Layout
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 70px 0;
    background-color: var(--Light-Gray);
  }
  
  // Card Component
  .card-wrapper {
    max-width: 90%;
    margin: auto;
    text-align: start;
    overflow: hidden;
    border-radius: calc(var(--border-radius) + 2px);
    box-shadow: 4px 10px 15px hsla(217, 22%, 67%, 0.438);
  
    .card-summary {
      background-color: #fff;
      padding: 30px 25px;
  
      h1 {
        color: var(--Cyan);
        margin-bottom: 20px;
        font-size: 28px;
      }
  
      h2 {
        color: var(--Bright-Yellow);
        margin-bottom: 25px;
        font-size: 20px;
      }
  
      p {
        color: var(--Grayish-Blue);
        line-height: 1.7;
      }
    }
  
    .card-features {
      > div {
        padding: 30px 24px;
        color: var(--Light-Gray);
  
        &.subscribtion {
          background-color: var(--Cyan);
  
          .pricing-plan {
            p:first-child {
              font-size: 18px;
              margin-bottom: 12px;
  
              span {
                font-weight: 700;
                font-size: 35px;
                color: #fff;
                margin-right: 15px;
              }
            }
          }
  
          .btn {
            display: block;
            width: 100%;
            margin-top: 30px;
            padding: 15px;
            text-align: center;
            font-weight: 700;
            font-size: 18px;
            color: #fff;
            background-color: var(--Bright-Yellow);
            border-radius: var(--border-radius);
            transition: background-color 200ms linear;
  
            &:hover {
              background-color: var(--Light-Bright-Yellow);
            }
          }
        }
  
        &.why-us {
          background-color: var(--Light-Cyan);
  
          ul {
            li:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
  
      .feature-title {
        margin-bottom: 20px;
        font-size: 22px;
        color: #fff;
      }
    }
  }
  
  // Media Queries (Progressive Enhancements)
  @media (min-width: 767px) {
    .card-wrapper {
      max-width: 640px;
  
      .card-summary {
        padding: 45px 40px;
  
        h2 {
          margin-bottom: 10px;
        }
      }
  
      .card-features {
        display: flex;
  
        > div {
          padding: 40px;
          flex: 1;
        }
      }
    }
  }
  